{% assign num_full_stars = include.rating | floor %} {% assign temp =
include.rating | minus: num_full_stars %}{% if temp >= 0.5 %} {% assign
num_half_stars = 1 %} {% else %} {% assign num_half_stars = 0 %} {% endif %} {%
assign num_empty_stars = 5 | minus: num_full_stars | minus: num_half_stars %} {%
for i in (1..num_full_stars) %} {% assign stars = stars | append: '<i
  class="fas fa-star star"
></i
>' %} {% endfor %} {% for i in (1..num_half_stars) %} {% assign stars = stars |
append: '<i class="fas fa-star-half-alt star"></i>' %} {% endfor %} {% for i in
(1..num_empty_stars) %} {% assign stars = stars | append: '<i
  class="far fa-star star"
></i
>' %} {% endfor %}
<div class="star-rating bg-lightblue">
  <div>
    <span
      class="iconbox iconsmall fill rounded-circle bg-danger text-white border-0 mr-2"
      ><i class="fas fa-bullhorn"></i>
    </span>
    <strong>Overall </strong>
    <span class="ml-2 float-right"
      ><span>{{ stars }}</span
      ><span
        class="badge {% if include.rating < 2 %}
          badge-danger
        {% endif %}
        {% if include.rating >= 2  and include.rating < 4 %}
          badge-warning
        {% endif %}
        {% if include.rating >= 4 %}
          badge-primary
        {% endif %} ml-2"
        >{{ include.rating }}/5</span
      ></span
    >
  </div>
</div>
{% if page.product %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
      "@type": "Product",
      "name": "{{ page.product }}"
    },
    "author": {
      "@type": "Person",
      "name":"{{ page.author }}"
    },
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": {{ include.rating }},
      "worstRating": 1,
      "bestRating": 5
    }
  }
</script>
{% endif %}
